IO_LOC  "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "seven[6]" 42;
IO_PORT "seven[6]" IO_TYPE=LVCMOS33;

IO_LOC  "seven[5]" 51;
IO_PORT "seven[5]" IO_TYPE=LVCMOS33;

IO_LOC  "seven[4]" 53;
IO_PORT "seven[4]" IO_TYPE=LVCMOS33;

IO_LOC  "seven[3]" 54;
IO_PORT "seven[3]" IO_TYPE=LVCMOS33;

IO_LOC  "seven[2]" 55;
IO_PORT "seven[2]" IO_TYPE=LVCMOS33;

IO_LOC  "seven[1]" 56;
IO_PORT "seven[1]" IO_TYPE=LVCMOS33;

IO_LOC  "seven[0]" 57;
IO_PORT "seven[0]" IO_TYPE=LVCMOS33;

IO_LOC  "anodo[1]" 68;
IO_PORT "anodo[1]" IO_TYPE=LVCMOS33;

IO_LOC  "anodo[0]" 69;
IO_PORT "anodo[0]" IO_TYPE=LVCMOS33;

IO_LOC  "conmutador_8[0]" 70;
IO_PORT "conmutador_8[0]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "conmutador_8[1]" 71;
IO_PORT "conmutador_8[1]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "conmutador_8[2]" 72;
IO_PORT "conmutador_8[2]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "conmutador_8[3]" 73;
IO_PORT "conmutador_8[3]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "conmutador_8[4]" 74;
IO_PORT "conmutador_8[4]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "conmutador_8[5]" 75;
IO_PORT "conmutador_8[5]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "conmutador_8{6}" 76;
IO_PORT "conmutador_8{6}" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "conmutador_8[7]" 77;
IO_PORT "conmutador_8[7]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "conmutador_4[0]" 32;
IO_PORT "conmutador_4[0]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "conmutador_4[1]" 31;
IO_PORT "conmutador_4[1]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "conmutador_4[2]" 49;
IO_PORT "conmutador_4[2]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "conmutador_4[3]" 48;
IO_PORT "conmutador_4[3]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "led[0]" 10;
IO_PORT "led[0]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "led[1]" 11;
IO_PORT "led[1]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "led[2]" 13;
IO_PORT "led[2]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "led[3]" 14;
IO_PORT "led[3]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "led[4]" 15;
IO_PORT "led[4]" DRIVE=8 IO_TYPE=LVCMOS18;
